<div>
  <button
    class="btn btn-primary btn-success"
    *ngIf="!isRecording && !blobUrl"
    (click)="startRecording()"
  >
    Start Recording
  </button>
  <button
    class="btn btn-primary btn-danger"
    *ngIf="isRecording && !blobUrl"
    (click)="stopRecording()"
  >
    Stop Recording
  </button>
  <button
    class="btn btn-primary btn-outline-warning"
    *ngIf="!isRecording && blobUrl"
    (click)="clearRecordedData()"
  >
    Clear Recording
  </button>
  <div *ngIf="isRecording && !blobUrl">{{ recordedTime }}</div>
  <div>
    <audio *ngIf="!isRecording && blobUrl" controls>
      <source [src]="blobUrl" type="audio/webm" />
    </audio>
  </div>
</div>
